@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');
html, body {
height: 100%;
margin: 0;
font-family: 'Playfair Display', serif;
background-color: #dee2e6;
}

*{
border: none;
padding: 0%;
margin: 0%;
box-sizing: border-box;
}
.menu{
background-color:  #495057;
height: 50px;
width: 100%;
display: flex;
font-family: 'Playfair Display', serif;
}
.searchbar{
background-color:  #dee2e6;
display: flex;
width: calc(100% - 150px);
position: absolute;
height: 50px;
font-family: 'Playfair Display', serif;
}
.search{
display: flex;
height: 25px;
justify-content: center;
align-items: center;
outline: none;
cursor:pointer ;
margin: auto 0px 10px 6%;
font-family: 'Playfair Display', serif;
border-radius: 5px;
border: 1px solid #495057;
background-color: #c3cbd3;
}
.btn_filtro{
display: flex;
height: 25px;
width: 55px;
justify-content: center;
align-items: center;
outline: none;
cursor:pointer ;
margin: auto 0px 10px 10px;
font-family: 'Playfair Display', serif;
border-radius: 5px;
border: 1px solid #495057;
background-color: #c3cbd3;
}
.btn_search{
display: flex;
height: 25px;
width: 70px;
justify-content: center;
align-items: center;
cursor:pointer ;
margin: auto 0px 10px 10px;
border-radius: 5px;
border: 1px solid #495057;
background-color: #c3cbd3;
}
.btn_search:hover{
color: red;
border: 1px solid red;
}
.tabelas{
display: flex;
height: 25px;  
justify-content: center;
align-items: center; 
outline: none;
cursor:pointer ;
margin: auto 0px 10px 10px;
font-family: 'Playfair Display', serif;
border-radius: 5px;
border: 1px solid #495057;
background-color: #c3cbd3;
}
.sidebar {
width: 150px;
background-color: #6c757d;
margin-left: auto;
margin-top: 0%;
height:calc(100% - 50px);
display: flex;
flex-direction: column;
align-items: center;
}
.sidebar ul {
list-style: none;
padding: 0;
margin-top: 0px;
width: 100%;
text-align: center;
}
.sidebar ul li {
padding: 10px;
height: 50px;
width: 100%;
display: inline-flex;
align-items:center;
justify-content:flex-start;
font-family: 'Playfair Display', serif;
}
.sidebar ul li:hover{
background-color:  #495057;
color: white;
border-right: 2px solid #dee2e6;

}
.sidebar ul li img {
vertical-align: middle; 
height: 15px; 
width: 15px;
margin-left: 25px;
}
.sidebar ul li a {
text-decoration: none;
color: #000000;
display: block;
text-align: center;
margin-left: 10px;
}
.tab{
background-color: #dee2e6;
display: flex;
width: calc(100% - 150px);
position: absolute;
height:calc(100% - 110px);
margin-top: 60px;
justify-content: flex-start;
align-self: flex-start;   
flex-direction: column;
}
.colunas_prod{
border-top-right-radius: 20px; 
border-top-left-radius: 20px;   
height: calc(100% - 60px);
width: 90%; 
display: flex;
margin-left: 5%;
justify-content: flex-start;
align-self: flex-start;   
flex-direction: column;
background-color: #4f5d75;

}
.header_prod{
border-top: 1px solid #36453b ;
border-left: 1px solid #36453b;
border-right:1px solid #36453b ;
border-bottom: none;
border-top-right-radius: 20px; 
border-top-left-radius: 20px; 
display: flex;
align-self: flex-start;   
flex-direction: row;
width: 100%;
flex-wrap: wrap;
color: #dee2e6;
}
.id{
display: flex;
flex:1;
min-width: 50px;
max-width: 70px;
justify-content: center;
}
.changes{
min-width: 110px;
max-width: 100px;
justify-content: center;
}
.preco,.custo,.quantidade{
display: flex;
flex: 1;
min-width: 70px;
max-width: 90px;
justify-content: center;
}

.nome,.fabricante{
display: flex;
flex: 1;
min-width: 160px;
max-width: 160px;
justify-content: center;
}
.descricao{
display: flex;
flex: 1;
min-width: 150px;
max-width: 150px;
justify-content: center;
}
.data{
display: flex;
flex: 1;
min-width: 130px;
max-width: 170px;
justify-content: center;
}
#cabecal{
background-color: #4f5d75;
border-top-right-radius: 20px; 
border-top-left-radius: 20px; 
}
.linhas{
display: flex;
align-self: flex-start;   
flex-direction: row;
width: 100%;
background-color: #ced4da;
flex-wrap: wrap;
border-top: 1px  #4f5d75 solid;
color: black;
}
.linhas:hover{
background-color:#4f5d75 ;
cursor: pointer;
color: #dee2e6;
}


.paginacao{
border-top: 1px solid;
height: 41px;
display: flex;
bottom: 0%;
width:100%;
position: absolute;
justify-content: center;
align-items: center;
}
.page{
padding-left: 20px;
cursor: pointer;
}
.page:hover{
color: red;
}
