html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.formulario {
    display: flex;
    background-color: #d1d4d6;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    justify-content: center;
    height: 100%;
}

#titulo {
    font-size: 20px;
    width: 100%;
    border-bottom: 1px solid #9ea5ad;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    height: 40px;
    text-align: center;
    color: #7b8396;
}

.formulario form {
    font-size: 16px;
    margin-top: 20px;
    width: 80%;
    padding-top: 10px;
    border-radius: 10px;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.text {
    margin-top: 5px;
    width: 100%; 
}

.text .col {
    margin-bottom: 20px;
    margin-left: 20px;
}

.text input {
    height: 30px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    width: 100%; 
}

.text .form-control {
    width: 100%;
}


.text input[type="radio"] {
height: 15px;
width: 15px;
margin: auto;
margin-top: 5px;
}
.form-check label{
    margin-top: 1px;
    font-size: 15px;
    margin-left: 5px;
}

.custom-width {
    width: 40px;
}

.formulario label {
    margin-bottom: 10px;
}

.botoes {
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-top: 50px;
    justify-content: center;
}

.botoes input {
    background-color: #7b8396;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid #d1d4d6;
    cursor: pointer;
}

.botoes input:hover {
    color: red;
    border: 1px solid red;
}

.botoes #btmeio {
    margin-left: 10px;
    margin-right: 10px;
    width: 80px;
}

.botoes #btn_salve {
    width: 80px;
    text-align: center;
}

#estado{
    display: flex;
    align-content: center;
    
}
#estado select {
    margin-left: 10px;
    width: 100px;
    height: 30px;
    font-size: 15px;
}
#nam input,#mail input{
    width: 300px;
    height: 25px;
}
#lvl{
    display: flex;
    align-content: center;  
}
#senha input{
    width: 250px;
    height: 25px;
}

